p {
  
  font-family: Tahoma;
  font-weight: 500px;
  padding: 3.5px;
  text-shadow: 4px 4px 50px  black;
  justify-content: center;
  text-align: center;
}

h1 {
  
  padding: 20px;
  font-size:30;
}

h4 {
  color: green;
  font-weight: bold;
}
.nav {
  margin: 0px 0px 16px 0px;
  background-color: #5bd4f2;
  justify-content: center;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items:center;
  max-width:100%;
  min-height:40px;
  padding:1px;
  color: gray;
  border-radius:6px;
}

.btn {
  margin-left:13%;
  margin-top:13%;
  display: inline-block;
  background-color:blue;
  padding:4px ;
  border-radius: 15px;
 animation: pulse 1.05s infinite;
 
}

 a {
  color: white;
  text-decoration: none;
  
}


.ca {
  
  align-self: center;
  max-height:200px;
  max-width :300px;
  border-radius: 25px;
  box-shadow: 8px 15px 50px black;
  z-index:5px;
}

.cntnr {
  margin-left:10vw;
  background: rgb(29,21,166);
 background-color: aqua;
  max-width:500px;
  border-radius: 15px;
  overflow: auto;
  box-shadow: 4px 4px 50px gray inset;
  
}


.intro {
  background-color: black;
  color: green;
  height:100px;
  margin:0px 0px 0px 0px;
  width: 100%;
  border:4px solid;
  border-color:gray;
  
}

.lin li {
background-color:white;
  padding:2px;
  border-radius: 15px;
  box-shadow: 7px 8px 9px light-blue;
  color:black;
  display: inline-block;
  text-align: center;
  
}

.lin{
display: flex;
  align-items: center;
  justify-content:center;
}

.lin li a {
  text-align: center;
  padding: 2px;
  border-radius:4px;
  color: black;
  text-decoration:none;
background: linear-gradient(90deg, rgba(29,21,166,1) 0%, rgba(121,121,212,1) 53%, rgba(12,153,183,1) 87%);
}



.inf {
  display: flex ;
  color:black;
  font-size:20px;
  font-family:Futura;
  font-weight: bold;
}


.last {
  background-color:grey;
  
}



@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(57, 252, 255, 0.6) ;
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(57, 252, 255, 0.2) ;
  }
}
html {
    background-color:#54edf8;
  }