.text {
  color: green;
  font-family: Tahoma;
  font-weight: 500px;
  
}

h1 {
  
  color: grey;
}

body {
  background-color: black;
}

img {
  
  z-index: -10;
  position: fixed;
  max-width:500px;
  max-height:350px;
  visibility: visible;
}
